.image-carousel img, .demo-card > img, .band img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image-carousel .center-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}


#main-header .right img {
    width: auto;
    max-height: 100vh;
    object-fit: cover;
}
body {
    margin: 0;
    padding: 0;
    background-color: #2a0049;
    font-family: 'Lato', 'sans-serif';
    box-sizing: border-box;
}

#navbar {
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#logo-container {
    display: flex;
    align-items: center;
}

#nav-items {
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

#nav-items li {
    cursor: pointer;
}

#main-header {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    position: relative;
}

#main-header .left {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 100px;
    left: 10%;
    z-index: -10;
    color: #fff;
}

#main-header .left .big-text {
    font-size: 70px;
    color: #ffffff;
    font-weight: 900;
}

#main-header .left {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
    flex-direction: column;
}

#main-header .left #overview .overview-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header .left #overview .overview-items h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.gradient-text {
    color: #ff00f2;
}

#main-header .left #overview .overview-items p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

#main-header .right {
    width: 90%;
    height: 100%;
    z-index: -10;
    mix-blend-mode: color-dodge;
}

#main-header .right img {
    height: 105vh;
    width: 100%;
    margin-top: -11vh;
}

.buttons {
    display: flex;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    transform: skewX(-20deg);
    cursor: pointer;
    border: 1px solid;
    background-color: transparent;
    color: #fff;
}

.btn1 {
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}

.band {
    width: 100%;
    margin: auto;
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    color: #fff;
    transform: rotate(-3deg);
    font-size: 30px;
    background: rgba(31, 38, 135, 0.37);
    font-weight: 900;
    box-shadow: 0 80px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}

.band img {
    width: 350px;
}

.choose-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.choose-section-title {
    font-size: 40px;
    font-weight: 900;
}

.section-description {
    width: 500px;
    font-size: 18px;
    font-weight: 100;
}

.choose-section .image-carousel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.image-carousel img {
    width: 400px;
    height: 250px;
}

.image-carousel .center-img {
    width: 600px;
    height: 400px;
}

.discover-section {
    width: 70%;
    margin: 100px auto;
}

.discover-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff40;
    border-radius: 7px;
    background: #35276D;
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.discover-card {
    margin-top: -70px;
    width: 50%;
    align-self: flex-start;
}

.discover-card-details .big-text {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

.discover-card-details-btn {
    width: fit-content;
    border: 1px solid gray;
    padding: 10px 20px;
    transform: skewX(-20deg);
}

.demo-cards-section {
    width: 70%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.demo-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.demo-card {
    width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid #ffffff23;
    background: #35276D;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}

.demo-card > img {
    width: 100%;
}

.demo-prof-details > img {
    width: 40px;
    height: 40px;
}

.demo-card > h5 {
    margin: 0;
    align-self: flex-start;
    font-size: 20px;
}

.demo-card > .demo-prof-details {
    display: flex;
    gap: 7px;
    align-self: flex-start;
}

.demo-card h5,
.demo-card p {
    margin: 0;
}

.demo-game-btn {
    cursor: pointer;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
    color: #fff;
}